{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "no-return-assign": "off"
  },
  "extends": "standard",
  "plugins": [
    "jest"
  ]
}
